body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assests/academy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
h1{
    color: white;
    margin: 120px auto 0px auto;
    font-size: 30px;
}
h2{
    color: white;
    margin: 0px auto 0px auto;
    font-size: 24px;
}
#username{
    background-image: url('../assests/username.svg.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    position: left;
    margin: 10px 0px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid blue;
}
#password{
    background-image: url(../assests/password.svg.svg);
    background-size: 15px;
    background-repeat: no-repeat;
    position: left;
    margin: 10px 0px;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid blue;
}
.logo{
    clip-path: circle(27.8% at 50% 50%);
    margin-bottom: 0px;
    height: 150px;
    width: 150px;
}
#logo-img{
    height: 150px;
}
.box{
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 10px 20px;
    border-radius: 7px;
    text-align: center;
    color: blue;
}
#login{
    background-color: blue;
    width: 83%;
    padding: 5px 20px;
    border-radius: 7px;
    color: azure;
    font-size: medium;
    border: 1px solid blue;
    cursor: grab;
}